<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/carpooling</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hbm2ddl.auto">update</property>
              
        
        <property name="hibernate.show_sql">true</property>
        <mapping resource="com/me/pojo/User.hbm.xml"/>
        <mapping resource="com/me/pojo/Address.hbm.xml"/>
        <mapping resource="com/me/pojo/Car.hbm.xml"/>
        <mapping resource="com/me/pojo/CardDetails.hbm.xml"/>
        <mapping resource="com/me/pojo/DriverDetails.hbm.xml"/>
        <mapping resource="com/me/pojo/Trip.hbm.xml"/>
        <mapping resource="com/me/pojo/Places.hbm.xml"/>
        <mapping resource="com/me/pojo/Passengers.hbm.xml"/>
        <mapping resource="com/me/pojo/Message.hbm.xml"/>
        <mapping resource="com/me/pojo/User_Trip.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
