@CHARSET "ISO-8859-1";
body{
	font-family: Comic Sans MS;
}

.container-fluid{
	margin-bottom: 2%;
	
}

.nav_top{
	height: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.form_styling{
	margin-top: 2%;
	margin-bottom: 2%;
}

.top_spacing{
	margin-top: 25px;
}

.input_box_styling{
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	height: 40px;	
}

.label_padding{
	padding-top: 10px;
}

.card_expiry_styling{
	margin-left: 30px;
}